<link rel="stylesheet" href="/Css/showReview.css">
<h1 class="head">All Reviews</h1>

<div class="heading">
    <h1>S.no</h1>
    <h1>Reviews</h1>
    <h1>Review Sender</h1>
    <h1>Review Receiver</h1>  
</div>

<div>
    <ul>
        <% for(let i=0; i<reviews.length; i++){ %>
            <li class="list">
                <div class="items">
                    <span ><%= i + 1 %></span>
                  
                 </div>

                <div class="items">
                <span ><%= reviews[i].content %></span>
                </div>

                <div class="items">
                    <span><%= reviews[i].sender %></span>
                </div>

                <div class="items">
                    <span><%= reviews[i].receiver %></span>
                </div>
            </li>
             
    
        <%}%>
    </ul>
</div>

