<link rel="stylesheet" href="/Css/signUp.css">
<h1 style="  text-align: center;
font-size: 50px;
font-style: italic;">Sign Up</h1>


<div class="main">
    <div id="mainIN">
        <form action="/users/create" method="post">
            <label class="">Name</label><br>
            <input type="text" name="name" placeholder="Your Name" required> <br>

            <label>Email</label><br>
            <input type="email" name="email" placeholder="Your Email" required><br>

            <label>Password</label><br>
            <input type="password" name="password" placeholder="Set Password" required><br>

            <label style="margin-left: 20px;">Confirm Password</label><br>
            <input type="password" name="confirm_password" placeholder="confirm password" required><br>

            <button type="submit" style="margin-left: 50px;">Sign Up</button>


        </form>

    </div>
</div>